header {
    text-align: center;
    color:blue;
}
body {
    background-image: url("sea-edge-79ab30e2.png");
    background-size: 100%;
    font-size: xx-large;
    font-family: fantasy;
    padding-left: 35%;
    padding-right: 35%;
}
main {
    padding-top: 15%;
}
li {
    padding: 15px;
}