

header {
    text-align: center;
    color:white;
}
body {
    background-image: url("Background.jpg");
    background-size: 100%;
    font-size: xx-large;
    font-family: fantasy;
    padding-up: 10%;
    padding-left: 20%;
    padding-right: 35%;
}
main {
    padding-top: 15%;
}
li {
    padding: 15px;
}